In [1]:
import pandas as pd

In [2]:
countries = pd.read_json("https://restcountries.eu/rest/v2/all")

In [3]:
countries.head()

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
0,AF,AFG,"[AF, Afġānistān]",652230.0,"[IRN, PAK, TKM, UZB, TJK, CHN]",[93],Kabul,AFG,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...",Afghan,...,Afghanistan,افغانستان,4.0,27657145,Asia,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",Southern Asia,[UTC+04:30],[.af],"{'de': 'Afghanistan', 'es': 'Afganistán', 'fr'..."
1,AX,ALA,"[AX, Aaland, Aland, Ahvenanmaa]",1580.0,[],[358],Mariehamn,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",Ålandish,...,Åland Islands,Åland,248.0,28875,Europe,"[{'acronym': 'EU', 'name': 'European Union', '...",Northern Europe,[UTC+02:00],[.ax],"{'de': 'Åland', 'es': 'Alandia', 'fr': 'Åland'..."
2,AL,ALB,"[AL, Shqipëri, Shqipëria, Shqipnia]",28748.0,"[MNE, GRC, MKD, KOS]",[355],Tirana,ALB,"[{'code': 'ALL', 'name': 'Albanian lek', 'symb...",Albanian,...,Albania,Shqipëria,8.0,2886026,Europe,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",Southern Europe,[UTC+01:00],[.al],"{'de': 'Albanien', 'es': 'Albania', 'fr': 'Alb..."
3,DZ,DZA,"[DZ, Dzayer, Algérie]",2381741.0,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]",[213],Algiers,ALG,"[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...",Algerian,...,Algeria,الجزائر,12.0,40400000,Africa,"[{'acronym': 'AU', 'name': 'African Union', 'o...",Northern Africa,[UTC+01:00],[.dz],"{'de': 'Algerien', 'es': 'Argelia', 'fr': 'Alg..."
4,AS,ASM,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",199.0,[],[1684],Pago Pago,ASA,"[{'code': 'USD', 'name': 'United State Dollar'...",American Samoan,...,American Samoa,American Samoa,16.0,57100,Oceania,[],Polynesia,[UTC-11:00],[.as],"{'de': 'Amerikanisch-Samoa', 'es': 'Samoa Amer..."

In [4]:
countries.columns

Index(['alpha2Code', 'alpha3Code', 'altSpellings', 'area', 'borders',
       'callingCodes', 'capital', 'cioc', 'currencies', 'demonym', 'flag',
       'gini', 'languages', 'latlng', 'name', 'nativeName', 'numericCode',
       'population', 'region', 'regionalBlocs', 'subregion', 'timezones',
       'topLevelDomain', 'translations'],
      dtype='object')

In [5]:
countries[['name','capital']]

                                                  name           capital
0                                          Afghanistan             Kabul
1                                        Åland Islands         Mariehamn
2                                              Albania            Tirana
3                                              Algeria           Algiers
4                                       American Samoa         Pago Pago
5                                              Andorra  Andorra la Vella
6                                               Angola            Luanda
7                                             Anguilla        The Valley
8                                           Antarctica
9                                  Antigua and Barbuda      Saint John's
10                                           Argentina      Buenos Aires
11                                             Armenia           Yerevan
12                                               Aruba        Oranjestad
13                                           Australia          Canberra
14                                             Austria            Vienna
15                                          Azerbaijan              Baku
16                                             Bahamas            Nassau
17                                             Bahrain            Manama
18                                          Bangladesh             Dhaka
19                                            Barbados        Bridgetown
20                                             Belarus             Minsk
21                                             Belgium          Brussels
22                                              Belize          Belmopan
23                                               Benin        Porto-Novo
24                                             Bermuda          Hamilton
25                                              Bhutan           Thimphu
26                    Bolivia (Plurinational State of)             Sucre
27                    Bonaire, Sint Eustatius and Saba        Kralendijk
28                              Bosnia and Herzegovina          Sarajevo
29                                            Botswana          Gaborone
..                                                 ...               ...
220                               Syrian Arab Republic          Damascus
221                                             Taiwan            Taipei
222                                         Tajikistan          Dushanbe
223                       Tanzania, United Republic of            Dodoma
224                                           Thailand           Bangkok
225                                        Timor-Leste              Dili
226                                               Togo              Lomé
227                                            Tokelau           Fakaofo
228                                              Tonga        Nuku'alofa
229                                Trinidad and Tobago     Port of Spain
230                                            Tunisia             Tunis
231                                             Turkey            Ankara
232                                       Turkmenistan          Ashgabat
233                           Turks and Caicos Islands     Cockburn Town
234                                             Tuvalu          Funafuti
235                                             Uganda           Kampala
236                                            Ukraine              Kiev
237                               United Arab Emirates         Abu Dhabi
238  United Kingdom of Great Britain and Northern I...            London
239                           United States of America  Washington, D.C.
240                                            Uruguay        Montevideo
241                                         Uzbekistan          Tashkent
242                                            Vanuatu         Port Vila
243                 Venezuela (Bolivarian Republic of)           Caracas
244                                           Viet Nam             Hanoi
245                                  Wallis and Futuna          Mata-Utu
246                                     Western Sahara          El Aaiún
247                                              Yemen            Sana'a
248                                             Zambia            Lusaka
249                                           Zimbabwe            Harare

[250 rows x 2 columns]

In [6]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 24 columns):
alpha2Code        250 non-null object
alpha3Code        250 non-null object
altSpellings      250 non-null object
area              240 non-null float64
borders           250 non-null object
callingCodes      250 non-null object
capital           250 non-null object
cioc              247 non-null object
currencies        250 non-null object
demonym           250 non-null object
flag              250 non-null object
gini              153 non-null float64
languages         250 non-null object
latlng            250 non-null object
name              250 non-null object
nativeName        250 non-null object
numericCode       249 non-null float64
population        250 non-null int64
region            250 non-null object
regionalBlocs     250 non-null object
subregion         250 non-null object
timezones         250 non-null object
topLevelDomain    250 non-null object
translations      250 non-null object
dtypes: float64(3), int64(1), object(20)
memory usage: 47.0+ KB

In [7]:
countries.describe(include='all')

,alpha2Code,alpha3Code,altSpellings,area,borders,callingCodes,capital,cioc,currencies,demonym,...,name,nativeName,numericCode,population,region,regionalBlocs,subregion,timezones,topLevelDomain,translations
count,250,250,250,2.400000e+02,250,250,250,247,250,250,...,250,250,249.000000,2.500000e+02,250,250,250,250,250,250
unique,250,250,250,NaN,160,233,244,205,173,229,...,250,250,NaN,NaN,7,19,23,56,249,250
top,DK,NAM,"[RE, Reunion]",NaN,[],[44],,,"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]",French,...,Botswana,Botswana,NaN,NaN,Africa,[],Caribbean,[UTC+01:00],[.us],"{'de': 'Réunion', 'es': 'Reunión', 'fr': 'Réun..."
freq,1,1,1,NaN,84,4,5,43,35,6,...,1,1,NaN,NaN,60,75,28,44,2,1
mean,NaN,NaN,NaN,6.262107e+05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,433.835341,2.939655e+07,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,1.950028e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,252.980446,1.244578e+08,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,4.400000e-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.000000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.533250e+03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,218.000000,2.029030e+05,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,7.100650e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,434.000000,4.648734e+06,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,4.146432e+05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,652.000000,1.803955e+07,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1.712444e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,894.000000,1.377422e+09,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
countries.loc [countries.region == 'Asia', ['name','population']]

                                        name  population
0                                Afghanistan    27657145
11                                   Armenia     2994400
15                                Azerbaijan     9730500
17                                   Bahrain     1404900
18                                Bangladesh   161006790
25                                    Bhutan      775620
36                         Brunei Darussalam      411900
40                                  Cambodia    15626444
48                                     China  1377422166
83                                   Georgia     3720400
101                                Hong Kong     7324300
104                                    India  1295210000
105                                Indonesia   258705000
107               Iran (Islamic Republic of)    79369900
108                                     Iraq    37883543
111                                   Israel     8527400
114                                    Japan   126960000
116                                   Jordan     9531712
117                               Kazakhstan    17753200
120                                   Kuwait     4183658
121                               Kyrgyzstan     6047800
122         Lao People's Democratic Republic     6492400
124                                  Lebanon     5988000
131                                    Macao      649100
135                                 Malaysia    31405416
136                                 Maldives      344023
148                                 Mongolia     3093100
153                                  Myanmar    51419420
156                                    Nepal    28431500
165  Korea (Democratic People's Republic of)    25281000
168                                     Oman     4420133
169                                 Pakistan   194125062
171                      Palestine, State of     4682467
176                              Philippines   103279800
181                                    Qatar     2587564
197                             Saudi Arabia    32248200
202                                Singapore     5535000
210                      Korea (Republic of)    50801405
213                                Sri Lanka    20966000
220                     Syrian Arab Republic    18564000
221                                   Taiwan    23503349
222                               Tajikistan     8593600
224                                 Thailand    65327652
225                              Timor-Leste     1167242
231                                   Turkey    78741053
232                             Turkmenistan     4751120
237                     United Arab Emirates     9856000
241                               Uzbekistan    31576400
244                                 Viet Nam    92700000
247                                    Yemen    27478000

In [12]:
countries['region'].value_counts()

Africa      60
Americas    57
Europe      53
Asia        50
Oceania     27
             2
Polar        1
Name: region, dtype: int64

### 20-MAY-2019

In [6]:
countries.nlargest(10,'population')[['name','population']]

                         name  population
48                      China  1377422166
104                     India  1295210000
239  United States of America   323947000
105                 Indonesia   258705000
31                     Brazil   206135893
169                  Pakistan   194125062
162                   Nigeria   186988000
18                 Bangladesh   161006790
185        Russian Federation   146599183
114                     Japan   126960000

In [7]:
countries.nsmallest(10,'population')['name']

30                                    Bouvet Island
98                Heard Island and McDonald Islands
209    South Georgia and the South Sandwich Islands
177                                        Pitcairn
80                      French Southern Territories
33             United States Minor Outlying Islands
99                                         Holy See
50                          Cocos (Keeling) Islands
8                                        Antarctica
227                                         Tokelau
Name: name, dtype: object

In [12]:
countries.loc[countries['region'].isin(['Asia','Africa','Europe']), ['name','capital','region']]

,name,capital,region
0,Afghanistan,Kabul,Asia
1,Åland Islands,Mariehamn,Europe
2,Albania,Tirana,Europe
3,Algeria,Algiers,Africa
5,Andorra,Andorra la Vella,Europe
6,Angola,Luanda,Africa
11,Armenia,Yerevan,Asia
14,Austria,Vienna,Europe
15,Azerbaijan,Baku,Asia
17,Bahrain,Manama,Asia
18,Bangladesh,Dhaka,Asia
20,Belarus,Minsk,Europe
21,Belgium,Brussels,Europe
23,Benin,Porto-Novo,Africa
25,Bhutan,Thimphu,Asia
28,Bosnia and Herzegovina,Sarajevo,Europe
29,Botswana,Gaborone,Africa
32,British Indian Ocean Territory,Diego Garcia,Africa
36,Brunei Darussalam,Bandar Seri Begawan,Asia
37,Bulgaria,Sofia,Europe
38,Burkina Faso,Ouagadougou,Africa
39,Burundi,Bujumbura,Africa
40,Cambodia,Phnom Penh,Asia
41,Cameroon,Yaoundé,Africa
43,Cabo Verde,Praia,Africa
45,Central African Republic,Bangui,Africa
46,Chad,N'Djamena,Africa
48,China,Beijing,Asia
52,Comoros,Moroni,Africa
53,Congo,Brazzaville,Africa
...,...,...,...
208,South Africa,Pretoria,Africa
210,Korea (Republic of),Seoul,Asia
211,South Sudan,Juba,Africa
212,Spain,Madrid,Europe
213,Sri Lanka,Colombo,Asia
214,Sudan,Khartoum,Africa
216,Svalbard and Jan Mayen,Longyearbyen,Europe
217,Swaziland,Lobamba,Africa
218,Sweden,Stockholm,Europe
219,Switzerland,Bern,Europe
220,Syrian Arab Republic,Damascus,Asia
221,Taiwan,Taipei,Asia
222,Tajikistan,Dushanbe,Asia
223,"Tanzania, United Republic of",Dodoma,Africa
224,Thailand,Bangkok,Asia
225,Timor-Leste,Dili,Asia
226,Togo,Lomé,Africa
230,Tunisia,Tunis,Africa
231,Turkey,Ankara,Asia
232,Turkmenistan,Ashgabat,Asia
235,Uganda,Kampala,Africa
236,Ukraine,Kiev,Europe
237,United Arab Emirates,Abu Dhabi,Asia
238,United Kingdom of Great Britain and Northern I...,London,Europe
241,Uzbekistan,Tashkent,Asia
244,Viet Nam,Hanoi,Asia
246,Western Sahara,El Aaiún,Africa
247,Yemen,Sana'a,Asia
248,Zambia,Lusaka,Africa
249,Zimbabwe,Harare,Africa

In [13]:
countries.loc[ (countries['region'] == 'Asia') | (countries['region'] == 'Africa'), ['name','capital','region']]

                                   name              capital  region
0                           Afghanistan                Kabul    Asia
3                               Algeria              Algiers  Africa
6                                Angola               Luanda  Africa
11                              Armenia              Yerevan    Asia
15                           Azerbaijan                 Baku    Asia
17                              Bahrain               Manama    Asia
18                           Bangladesh                Dhaka    Asia
23                                Benin           Porto-Novo  Africa
25                               Bhutan              Thimphu    Asia
29                             Botswana             Gaborone  Africa
32       British Indian Ocean Territory         Diego Garcia  Africa
36                    Brunei Darussalam  Bandar Seri Begawan    Asia
38                         Burkina Faso          Ouagadougou  Africa
39                              Burundi            Bujumbura  Africa
40                             Cambodia           Phnom Penh    Asia
41                             Cameroon              Yaoundé  Africa
43                           Cabo Verde                Praia  Africa
45             Central African Republic               Bangui  Africa
46                                 Chad            N'Djamena  Africa
48                                China              Beijing    Asia
52                              Comoros               Moroni  Africa
53                                Congo          Brazzaville  Africa
54   Congo (Democratic Republic of the)             Kinshasa  Africa
63                             Djibouti             Djibouti  Africa
67                                Egypt                Cairo  Africa
69                    Equatorial Guinea               Malabo  Africa
70                              Eritrea               Asmara  Africa
72                             Ethiopia          Addis Ababa  Africa
80          French Southern Territories    Port-aux-Français  Africa
81                                Gabon           Libreville  Africa
..                                  ...                  ...     ...
197                        Saudi Arabia               Riyadh    Asia
198                             Senegal                Dakar  Africa
200                          Seychelles             Victoria  Africa
201                        Sierra Leone             Freetown  Africa
202                           Singapore            Singapore    Asia
207                             Somalia            Mogadishu  Africa
208                        South Africa             Pretoria  Africa
210                 Korea (Republic of)                Seoul    Asia
211                         South Sudan                 Juba  Africa
213                           Sri Lanka              Colombo    Asia
214                               Sudan             Khartoum  Africa
217                           Swaziland              Lobamba  Africa
220                Syrian Arab Republic             Damascus    Asia
221                              Taiwan               Taipei    Asia
222                          Tajikistan             Dushanbe    Asia
223        Tanzania, United Republic of               Dodoma  Africa
224                            Thailand              Bangkok    Asia
225                         Timor-Leste                 Dili    Asia
226                                Togo                 Lomé  Africa
230                             Tunisia                Tunis  Africa
231                              Turkey               Ankara    Asia
232                        Turkmenistan             Ashgabat    Asia
235                              Uganda              Kampala  Africa
237                United Arab Emirates            Abu Dhabi    Asia
241                          Uzbekistan             Tashkent    Asia
244                            Viet Nam                Hanoi    Asia
246                      Western Sahara             El Aaiún  Africa
247                               Yemen               Sana'a    Asia
248                              Zambia               Lusaka  Africa
249                            Zimbabwe               Harare  Africa

[110 rows x 3 columns]

In [15]:
countries.head()[['name','borders','currencies']]

,name,borders,currencies
0,Afghanistan,"[IRN, PAK, TKM, UZB, TJK, CHN]","[{'code': 'AFN', 'name': 'Afghan afghani', 'sy..."
1,Åland Islands,[],"[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]"
2,Albania,"[MNE, GRC, MKD, KOS]","[{'code': 'ALL', 'name': 'Albanian lek', 'symb..."
3,Algeria,"[TUN, LBY, NER, ESH, MRT, MLI, MAR]","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy..."
4,American Samoa,[],"[{'code': 'USD', 'name': 'United State Dollar'..."

In [19]:
countries.loc [countries['name'].str.startswith('I'),['name','region']]

                           name  region
103                     Iceland  Europe
104                       India    Asia
105                   Indonesia    Asia
107  Iran (Islamic Republic of)    Asia
108                        Iraq    Asia
109                     Ireland  Europe
110                 Isle of Man  Europe
111                      Israel    Asia
112                       Italy  Europe